/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.editorconfig
/.env
/.env.example
/.gitattributes
/.styleci.yml
/artisan
/composer.json
/composer.lock
/package.json
/phpunit.xml
/server.php
/webpack.mix.js
/public/.htaccess
/public/favicon.ico
/bootstrap/cache/
.idea
/public/index.php
/public/robots.txt
/public/web.config
/resources/sass/
/readme.md
/public/
